$primary: #ffffff;
$secondary: #000000;
$purple: #9B51E0;

// Шрифты
$fs-base: 25px;

$fs-xxs: 20px;
$fs-xs: 25px;
$fs-s: 30px;
$fs-m: 35px;
$fs-l: 40px;
$fs-xl: 50px;
$fs-xxl: 55px;

// Границы
$br-1: $purple solid 3px;
